<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="application-name" content="myApp">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="<%= htmlWebpackPlugin.options.cssDir %>/bootstrap.min.css" rel="stylesheet" />
  <link href="<%= htmlWebpackPlugin.options.cssDir %>/font-awesome.min.css" rel="stylesheet" />
  <style type="text/css">
    table .sort {
      cursor: pointer;
      cursor: hand;
      float: right;
    }

    table .sort-order {
      float: right;
      color: #ff9800;
    }

    table .sort:after {
      font-family: FontAwesome;
      font-size: 1em;
    }

    table .sort-none:after {
      content: "\f0dc";
    }

    table .sort-asc:after {
      content: "\f0de";
    }

    table .sort-desc:after {
      content: "\f0dd";
    }
  </style>
</head>

<body>
  <div id="app"></div>
</body>

</html>