/* global variables */
$colorBlue: #436e8f;
$colorHalfBlue: #a1c2db;
$colorRed: #d43d29;
$colorOrange: #d7863e;
$colorAmber: $colorOrange;
$colorGreen: #7dbc2c;
$colorPaleGrey: #f2f2f2;
$colorGrey: #afafaf;
$colorError: #a94442;
$colorBorder: #d0d0d0;
$colorWhite: #ffffff;
$colorGreen: #40ac76;
$colorShadowGrey: #777777;
$colorLightGrey: #cccccc;

$tableToolbarHeight: 40px;
$tableToolbarMargin: 15px;

/* mixins */
@define-mixin shadow-a {
  box-shadow: 3px 3px 6px $colorShadowGrey;
}

@define-mixin shadow-b {
  box-shadow: 0 0 8px $colorShadowGrey;
}

@define-mixin shadow-c {
  text-shadow: 1px 1px 1px #333;
}

@define-mixin shadow-d {
  text-shadow: 1px 1px 1px #41637b;
}

@define-mixin shadow-e {
  box-shadow: 0 3px 6px $colorShadowGrey;
}
